Repository k8up-io/k8up, pull requests merged in 2022-09, with the labels that each got.

#729 Optimize Tooling for local dev environment
  .github/workflows/e2e.yml
  Makefile
  Makefile.restic-integration.mk
  Makefile.restic-integration.vars.mk
  Makefile.vars.mk
  PROJECT
  README.md
  docs/docs.mk
  e2e/Makefile
  e2e/definitions/kind/config.yaml
  e2e/kind.mk
  envtest/integration.mk
  tools/go.mod
  tools/go.sum
  tools/tools.go
  tools/tools.mk
Labels: change, area:operator

#731 Expose job activeDeadlineSeconds parameter
  api/v1/archive_types.go
  api/v1/backup_types.go
  api/v1/check_types.go
  api/v1/common_types.go
  api/v1/job_object.go
  api/v1/prune_types.go
  api/v1/restore_types.go
  api/v1/runnable_types.go
  api/v1/schedule_types.go
  api/v1/zz_generated.deepcopy.go
  config/crd/apiextensions.k8s.io/v1/k8up.io_archives.yaml
  config/crd/apiextensions.k8s.io/v1/k8up.io_backups.yaml
  config/crd/apiextensions.k8s.io/v1/k8up.io_checks.yaml
  config/crd/apiextensions.k8s.io/v1/k8up.io_prunes.yaml
  config/crd/apiextensions.k8s.io/v1/k8up.io_restores.yaml
  config/crd/apiextensions.k8s.io/v1/k8up.io_schedules.yaml
  controllers/backup_integration_test.go
  controllers/backup_it_utils_test.go
  docs/modules/ROOT/pages/references/api-reference.adoc
  docs/modules/ROOT/pages/references/object-specifications.adoc
  operator/job/job.go
Labels: enhancement, area:operator

#737 Document K8upJobStuck alerts
  charts/k8up/Chart.yaml
  charts/k8up/README.md
  charts/k8up/templates/prometheus/prometheusrule.yaml
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/explanations/runbooks/K8upJobStuck.adoc
Labels: documentation, area:chart, chart:k8up
