Repository k8up-io/k8up, pull requests merged in 2023-02, with the labels that each got.

#807 fix owner reconciliation
  cmd/operator/main.go
  config/rbac/role.yaml
  operator/archivecontroller/controller.go
  operator/archivecontroller/executor.go
  operator/archivecontroller/setup.go
  operator/backupcontroller/controller.go
  operator/backupcontroller/controller_integration_test.go
  operator/backupcontroller/controller_utils_integration_test.go
  operator/backupcontroller/executor.go
  operator/backupcontroller/setup.go
  operator/checkcontroller/controller.go
  operator/checkcontroller/executor.go
  operator/checkcontroller/setup.go
  operator/job/job.go
  operator/jobcontroller/conditions.go
  operator/jobcontroller/controller.go
  operator/jobcontroller/controller_integration_test.go
  operator/jobcontroller/setup.go
  operator/prunecontroller/controller.go
  operator/prunecontroller/executor.go
  operator/prunecontroller/setup.go
  operator/restorecontroller/controller.go
  operator/restorecontroller/executor.go
  operator/restorecontroller/setup.go
Labels: change, area:operator

#815 Update docs with RWO backup feature
  docs/docs.mk
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/explanations/rwo.adoc
  docs/modules/ROOT/pages/how-tos/prebackuppod.adoc
Labels: documentation, area:operator

#819 Bump K8up and chart versions
  charts/k8up/Chart.yaml
  charts/k8up/README.md
  charts/k8up/values.yaml
Labels: dependency, area:chart, chart:k8up
