Repository k8up-io/k8up, pull requests merged in 2023-01, with the labels that each got.

#791 Rework internal job queueing
  Makefile
  api/v1/common_types.go
  cmd/operator/main.go
  e2e/definitions/operator/deploy.yaml
  envtest/envsuite.go
  operator/archivecontroller/controller.go
  operator/archivecontroller/executor.go
  operator/archivecontroller/setup.go
  operator/backupcontroller/backup_utils.go
  operator/backupcontroller/backup_utils_test.go
  operator/backupcontroller/controller.go
  operator/backupcontroller/controller_integration_test.go
  operator/backupcontroller/controller_utils_integration_test.go
  operator/backupcontroller/executor.go
  operator/backupcontroller/prebackup.go
  operator/backupcontroller/prebackup_utils.go
  operator/backupcontroller/setup.go
  operator/checkcontroller/controller.go
  operator/checkcontroller/controller_integration_test.go
  operator/checkcontroller/executor.go
  operator/checkcontroller/setup.go
  operator/executor/cleaner/cleaner.go
  operator/executor/cleaner/cleaner_integration_test.go
  operator/executor/generic.go
  operator/executor/worker.go
  operator/job/job.go
  operator/job/job_test.go
  operator/job/status.go
  operator/jobcontroller/controller.go
  operator/jobcontroller/controller_integration_test.go
  operator/jobcontroller/setup.go
  operator/locker/concurrentjobs.go
  operator/locker/exclusivejobs.go
  operator/locker/locker.go
  operator/locker/locker_test.go
  operator/prunecontroller/controller.go
  operator/prunecontroller/executor.go
  operator/prunecontroller/setup.go
  operator/queue/execution.go
  operator/queue/execution_test.go
  operator/queue/priority.go
  operator/reconciler/reconciler.go
  operator/restorecontroller/controller.go
  operator/restorecontroller/controller_integration_test.go
  operator/restorecontroller/executor.go
  operator/restorecontroller/executor_test.go
  operator/restorecontroller/setup.go
  operator/schedulecontroller/controller.go
  operator/schedulecontroller/handler.go
  operator/schedulecontroller/schedule_integration_test.go
  operator/schedulecontroller/setup.go
  operator/scheduler/scheduler.go
Labels: change, area:operator

#794 Remove K8upJobStuck alert runbook
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/explanations/runbooks/K8upJobStuck.adoc
Labels: documentation, area:operator

#795 Remove K8upJobStuck alert
  charts/k8up/Chart.yaml
  charts/k8up/README.md
  charts/k8up/templates/prometheus/prometheusrule.yaml
  config/samples/prometheus/rules.yaml
Labels: change, area:chart, chart:k8up

#797 Cleanup codebase after refactorings
  api/v1/archive_types.go
  api/v1/backend.go
  api/v1/backup_types.go
  api/v1/check_types.go
  api/v1/common_types.go
  api/v1/job_name_test.go
  api/v1/job_object.go
  api/v1/prune_types.go
  api/v1/restore_types.go
  api/v1/status.go
  config/samples/k8up_v1_prebackuppod.yaml
  config/samples/k8up_v1_schedule.yaml
  config/samples/secrets.yaml
  docs/modules/ROOT/pages/references/api-reference.adoc
  operator/archivecontroller/controller.go
  operator/archivecontroller/executor.go
  operator/backupcontroller/backup_utils_test.go
  operator/backupcontroller/controller.go
  operator/backupcontroller/controller_integration_test.go
  operator/backupcontroller/controller_utils_integration_test.go
  operator/backupcontroller/executor.go
  operator/backupcontroller/prebackup_utils.go
  operator/checkcontroller/controller.go
  operator/checkcontroller/executor.go
  operator/executor/cleaner/cleaner.go
  operator/executor/cleaner/cleaner_integration_test.go
  operator/executor/cleaner/cleaner_test.go
  operator/executor/generic.go
  operator/job/job.go
  operator/job/status.go
  operator/monitoring/prometheus.go
  operator/prunecontroller/controller.go
  operator/prunecontroller/executor.go
  operator/restorecontroller/controller.go
  operator/restorecontroller/executor.go
  operator/restorecontroller/executor_test.go
  operator/schedulecontroller/controller.go
  operator/schedulecontroller/handler.go
  operator/schedulecontroller/handler_test.go
  operator/scheduler/scheduler.go
  operator/scheduler/scheduler_test.go
Labels: change, area:operator

#802 rollback changes to samples
  config/samples/k8up_v1_prebackuppod.yaml
  config/samples/secrets.yaml
Labels: change, area:operator
