Repository k8up-io/k8up, pull requests merged in 2023-05, with the labels that each got.

#838 Add update permission to the chart for roles
  charts/k8up/Chart.yaml
  charts/k8up/README.md
  charts/k8up/templates/operator-clusterrole.yaml
  config/rbac/role.yaml
  operator/backupcontroller/setup.go
Labels: bug, area:chart, chart:k8up

#842 Installation of K8up CLI and updated version numbers for preview images
  docs/docs.mk
  docs/modules/ROOT/pages/.vale.ini
  docs/modules/ROOT/pages/how-tos/installation.adoc
Labels: documentation

#850 Fixing pipeline
  docs/modules/ROOT/pages/references/api-reference.adoc
Labels: documentation

#814 fix: exclude non-running pods from podlist
  operator/backupcontroller/controller_integration_test.go
  operator/backupcontroller/executor.go
Labels: bug, area:operator

#849 Add darwin and windows to GOOS build targets
  .goreleaser.yml
Labels: enhancement, area:operator

#852 Improve RBAC for the operator
  charts/k8up/templates/executor-clusterrole.yaml
  charts/k8up/templates/operator-clusterrole.yaml
  config/rbac/role.yaml
  e2e/Makefile
  e2e/lib/k8up.bash
  operator/backupcontroller/backup_utils.go
  operator/backupcontroller/setup.go
Labels: bug, area:operator

#856 Bump k8up version
  charts/k8up/Chart.yaml
  charts/k8up/README.md
  charts/k8up/values.yaml
Labels: dependency, area:chart, chart:k8up
