Repository k8up-io/k8up, pull requests merged in 2023-03, with the labels that each got.

#813 Save available snapshots into CRs
  api/v1/snapshot_types.go
  api/v1/zz_generated.deepcopy.go
  charts/k8up/templates/operator-clusterrole.yaml
  config/crd/apiextensions.k8s.io/v1/k8up.io_snapshots.yaml
  config/rbac/role.yaml
  docs/modules/ROOT/pages/how-tos/restore.adoc
  docs/modules/ROOT/pages/references/api-reference.adoc
  e2e/definitions/minio/pvc.yaml
  e2e/lib/k8up.bash
  e2e/test-03-backup.bats
  e2e/test-05-annotated-backup.bats
  e2e/test-06-pvc-rwo.bats
  e2e/test-07-snapshots.bats
  go.mod
  go.sum
  operator/backupcontroller/backup_utils.go
  operator/prunecontroller/executor.go
  restic/cli/backup.go
  restic/cli/prune.go
  restic/cli/restic.go
  restic/cli/restore.go
  restic/cli/snapshots.go
  restic/cli/stats.go
  restic/dto/snapshot.go
  restic/kubernetes/config.go
  restic/kubernetes/snapshots.go
  restic/kubernetes/snapshots_test.go
Labels: enhancement, area:operator

#820 adding new annotation to specify in which container inside pod backup should run
  cmd/restic/main.go
  docs/modules/ROOT/examples/usage/restic.txt
  docs/modules/ROOT/pages/how-tos/application-aware-backups.adoc
  docs/modules/ROOT/pages/references/annotations.adoc
  e2e/definitions/annotated-subject/deployment.yaml
  e2e/lib/k8up.bash
  e2e/test-07-snapshots.bats.disabled
  operator/cfg/config.go
  restic/cfg/config.go
  restic/kubernetes/pod_exec.go
  restic/kubernetes/pod_list.go
Labels: enhancement, documentation, area:operator

#824 Ensure there is a job for PreBackupPods if they exist.
  cmd/restic/main.go
  docs/modules/ROOT/examples/usage/restic.txt
  e2e/test-05-annotated-backup.bats
  operator/backupcontroller/executor.go
  restic/cfg/config.go
  restic/kubernetes/config.go
  restic/kubernetes/pod_list.go
  restic/kubernetes/snapshots.go
Labels: bug, area:operator

#832 Add requeue to all job types
  operator/archivecontroller/controller.go
  operator/checkcontroller/controller.go
  operator/prunecontroller/controller.go
  operator/restorecontroller/controller.go
Labels: bug, area:operator

#833 Update chart to K8up v2.7
  charts/k8up/Chart.yaml
  charts/k8up/README.md
  charts/k8up/values.yaml
Labels: dependency, area:chart, chart:k8up
