Repository k8up-io/k8up, pull requests merged in 2024-07, with the labels that each got.

#956 Support setting priority class of operator in Helm chart
  charts/k8up/README.md
  charts/k8up/templates/deployment.yaml
  charts/k8up/values.yaml
Labels: enhancement, area:chart, chart:k8up

#987 Document that server-side apply is necessary for the CRDs
  charts/k8up/README.gotmpl.md
  charts/k8up/README.md
Labels: documentation, area:chart, chart:k8up

#988 Properly set logger before creating a typed client
  cmd/restic/main.go
  restic/cli/backup.go
  restic/kubernetes/config.go
  restic/kubernetes/snapshots.go
Labels: bug, area:operator

#989 fix(docs): Update Link to Prometheus example
  docs/modules/ROOT/pages/how-tos/check-status.adoc
Labels: documentation, area:operator

#991 fix(chart:k8up): Rename & implement grafanaDashboard.enabled
  charts/k8up/Chart.yaml
  charts/k8up/README.md
  charts/k8up/templates/grafana-dashboard.yaml
  charts/k8up/values.yaml
Labels: bug, area:chart, chart:k8up
