Repository k8up-io/k8up, pull requests merged in 2024-06, with the labels that each got.

#979 Ignore terminated Pods in mapping of PVCs to Pods
  operator/backupcontroller/controller_integration_test.go
  operator/backupcontroller/executor.go
Labels: bug, area:operator

#980 Unmounted RWO PVCs without NodeAffinity on the PV should be backed up as well
  operator/backupcontroller/controller_integration_test.go
  operator/backupcontroller/executor.go
Labels: enhancement, area:operator

#966 feat: add security context for cleanup hook
  charts/k8up/Chart.yaml
  charts/k8up/README.md
  charts/k8up/templates/cleanup-hook.yaml
  charts/k8up/templates/grafana-dashboard.yaml
Labels: enhancement, area:chart, chart:k8up
