Repository k8up-io/k8up, pull requests merged in 2024-05, with the labels that each got.

#968 Add full podSpec to all job types
  .github/workflows/test.yml
  api/v1/archive_types.go
  api/v1/backup_types.go
  api/v1/check_types.go
  api/v1/job_object.go
  api/v1/podconfig_types.go
  api/v1/prune_types.go
  api/v1/restore_types.go
  api/v1/runnable_types.go
  api/v1/schedule_types.go
  api/v1/zz_generated.deepcopy.go
  charts/k8up/templates/operator-clusterrole.yaml
  config/crd/apiextensions.k8s.io/v1/k8up.io_archives.yaml
  config/crd/apiextensions.k8s.io/v1/k8up.io_backups.yaml
  config/crd/apiextensions.k8s.io/v1/k8up.io_checks.yaml
  config/crd/apiextensions.k8s.io/v1/k8up.io_podconfigs.yaml
  config/crd/apiextensions.k8s.io/v1/k8up.io_prunes.yaml
  config/crd/apiextensions.k8s.io/v1/k8up.io_restores.yaml
  config/crd/apiextensions.k8s.io/v1/k8up.io_schedules.yaml
  config/rbac/role.yaml
  docs/modules/ROOT/pages/how-tos/backup.adoc
  docs/modules/ROOT/pages/how-tos/schedules.adoc
  docs/modules/ROOT/pages/references/api-reference.adoc
  e2e/definitions/backup/backup.yaml
  e2e/definitions/backup/podconfig.yaml
  e2e/lib/k8up.bash
  e2e/test-03-backup.bats
  go.mod
  go.sum
  operator/archivecontroller/executor.go
  operator/backupcontroller/executor.go
  operator/checkcontroller/executor.go
  operator/job/job.go
  operator/prunecontroller/executor.go
  operator/restorecontroller/executor.go
  operator/restorecontroller/executor_test.go
  operator/schedulecontroller/handler.go
  operator/schedulecontroller/handler_test.go
  operator/scheduler/scheduler.go
Labels: enhancement, area:operator

#969 Bump K8up version
  charts/k8up/Chart.yaml
  charts/k8up/README.md
  charts/k8up/values.yaml
Labels: dependency, area:chart, chart:k8up

#971 Update the tutorial to the latest k8up version
  docs/modules/ROOT/pages/tutorials/tutorial.adoc
Labels: documentation, area:operator

#967 feat: Helm - Grafana Dashboard
  charts/k8up/README.md
  charts/k8up/templates/grafana-dashboard.yaml
  charts/k8up/values.yaml
Labels: enhancement, area:chart, chart:k8up

#974 Adjust the PR template to include signing off the commits
  .github/PULL_REQUEST_TEMPLATE.md
  deployment.yaml
Labels: documentation, area:operator
