Repository k8up-io/k8up, pull requests merged in 2024-03, with the labels that each got.

#930 Update dependencies and e2e tests
  Makefile
  api/v1/zz_generated.deepcopy.go
  cli/restore/helpers.go
  cmd/operator/main.go
  config/crd/apiextensions.k8s.io/v1/k8up.io_archives.yaml
  config/crd/apiextensions.k8s.io/v1/k8up.io_backups.yaml
  config/crd/apiextensions.k8s.io/v1/k8up.io_checks.yaml
  config/crd/apiextensions.k8s.io/v1/k8up.io_prebackuppods.yaml
  config/crd/apiextensions.k8s.io/v1/k8up.io_prunes.yaml
  config/crd/apiextensions.k8s.io/v1/k8up.io_restores.yaml
  config/crd/apiextensions.k8s.io/v1/k8up.io_schedules.yaml
  config/crd/apiextensions.k8s.io/v1/k8up.io_snapshots.yaml
  config/rbac/role.yaml
  e2e/definitions/minio/helm.yaml
  e2e/definitions/secrets/secrets.yaml
  e2e/lib/k8up.bash
  go.mod
  go.sum
  operator/backupcontroller/controller_utils_integration_test.go
  operator/backupcontroller/prebackup_utils.go
  restic/kubernetes/pod_exec.go
  restic/kubernetes/snapshots_test.go
Labels: dependency, area:operator

#937 Update all renovate dependencies
  .github/workflows/chart-release.yml
  .github/workflows/scorecard.yml
  Dockerfile
  Makefile.vars.mk
  charts/go.mod
  charts/go.sum
  e2e/package-lock.json
  e2e/package.json
  e2e/test-03-backup.bats
  e2e/test-05-annotated-backup.bats
  e2e/test-06-pvc-rwo.bats
  e2e/test-09-pod-backupcommand.bats
  go.mod
  go.sum
Labels: dependency, area:operator

#944 Make e2e tests more reliable
  e2e/lib/k8up.bash
Labels: bug, area:operator

#947 Bump chart version
  charts/go.mod
  charts/k8up/Chart.yaml
  charts/k8up/README.md
  charts/k8up/values.yaml
Labels: dependency, area:chart, chart:k8up

#948 Add option to ignore PVCs without annotation
  charts/k8up/Chart.yaml
  charts/k8up/README.md
  charts/k8up/templates/deployment.yaml
  charts/k8up/test/deployment_test.go
  charts/k8up/values.yaml
  cmd/operator/main.go
  docs/modules/ROOT/examples/usage/operator.txt
  docs/modules/ROOT/pages/how-tos/application-aware-backups.adoc
  docs/modules/ROOT/pages/how-tos/backup.adoc
  docs/modules/ROOT/pages/how-tos/schedules.adoc
  docs/modules/ROOT/pages/references/annotations.adoc
  operator/backupcontroller/executor.go
  operator/cfg/config.go
Labels: enhancement, area:operator, area:chart, chart:k8up
